'menu': [
  'label': 'Find'
  'submenu': [
    { 'label': 'Find Buffer', 'command': 'zsy-fuzzy-finder:toggle-buffer-finder' }
    { 'label': 'Find File', 'command': 'zsy-fuzzy-finder:open-external' }
    { 'label': 'Find Modified File', 'command': 'zsy-fuzzy-finder:toggle-git-status-finder' }
  ]
]
